# Configuración de Supabase (Session Pooler)
# Reemplaza [TU-PASSWORD] con tu contraseña real de Supabase
DATABASE_URL=postgresql://postgres.agtfiyijheauejqxnagu:[TU-PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres

# Puerto del servidor
PORT=3000
